@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,600;1,500;1,600&display=swap');
/* para exportar un tipo de letra  */
h1 {
    color: #025157;
    float: inline-start;
    font-size: 45px;
}
h1,h2,h3,h4 {
 font-family: 'Alegreya', serif;/* nombrar el tipo de litra en lista dependiendo la que encuentre*/
}
.txtpromo{
    color:#8b8b8bcc;
}
.dbtitle{
    color: #46484c;
}
body {
    background-color: #fffbf7;
}

button {
    color: #fff;
    background-color: #025157;
}
.header >*{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45%;
    font: sans-serif;            
}
header{
       
    margin: 0px 0px 40px;
    font-size: 0px;
    position: fixed;
    top:0;
    padding: 0px 20px;
    box-shadow: 0px 16px rgba(0,0,0,0.5);
    background-color: #fffbf7;
    
}
li{
    display: inline;
    padding: 25px;
    color: #025157;
    
}
.logo {
    width: 15%;
}
.logo > img{
    width: 50%;
}
.navbar {
    width: 100%;
    text-align: center;
    font-weight: 500;
    
}
.action {
    /* width: 15%; */
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.action > *{
   
}
.main{
    margin-top: 140px;
    text-align: center;
}
.loguin{
    color: #67b54b
}
.botonstar{
    background-color: #67b54b;
    color: white;
    border: none;
    border-radius: 5px;
    padding:12px 14px;
}

.publish{
    display: flex;
    flex-direction: column;

}
.publish form{
    display: flex;
}

.videoimagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container{
    display: flex;/*es importante para generar objetos en linea*/
    flex-direction: row;/*con este definimos la orientacion que queremos que se vean las cajas*/
    justify-content: center;/*el ordenamiento de las cajas*/
    align-content: space-between;/*define el ordenamiento de las lineas */
    gap: 25px;/*es un espacioado entre las cajas */

}
button:active{
    background-color:green ;
}
#email:hover{
    background-color: aqua;
}
.feautures{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2,300px); */
    /* grid-template-columns: repeat(2,50%); */
    /* grid-template-columns: 50opx 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
   /* grid-template-columns: repeat(2,1fr);*/
    /* grid-template-columns: repeat(auto-fill,40px);
    grid-template-rows: repeat(2,1fr) ; */
    grid-template: repeat(2,1fr) / repeat(2,1fr); 
    /* grid-template: repeat(auto-fill,200px)/repeat(auto-fill,200px); */
    grid-row-gap: 20px;
    background-color: #025157;  
}
.flexizquierda a{
    color: #67b54b;
    text-decoration: none;
}
.flexizquierda h3{
    color: #343434;
    font-weight: 400;
    font-size: 24px;
}
.flexizquierda img{
    margin-left: 2%;
    
}
.grid_completo  img{
    margin-right: 10px;
}
.grid_completo{
    display: grid;
    /* grid-template-columns: repeat(2,50%); */
    grid-template-columns: 1fr 80px;
    background-color: #fff;
    margin: 20px 30px;
    border-radius: 10px;

}
.flexizquierda{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.flexderecha{
    display: flex;
    flex-direction: row-reverse;
    
}


/* codigo de postwork*/
.titulo_flex{
    width: 50%;
    font-size: 18px;
    color: #46484c;
    line-height: 1.5;
    margin-bottom: 16px;
}

.flex_columna button{
    font-size: 14px;
    border-radius: 12px;
    height: 45px;
}
.flex_columna{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
}
.flex_columna p a{
    color: #67b54b;
}
.listamensajes{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #fffbf7;
    padding: 5% 10%;
}
.recuadro{
    background-color: #fff;
    border: 1px solid;
    border-color: #46484c;
    margin: 0px 20px;
}
.lista_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    gap: 40px;
}



@media (max-width:575px){
   
    
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }

    .main {
        margin-top: 80px;
    }
    .main img{
        width: 100%;
    }
    .container{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        
        
    }
    .videoimagen video{
        width: 100%;
    }
    .videoimagen, .publish{
        width: 90%;
    }
    .publish p{  
        /* publish > p es para solamente los hijos directos al
        utilizar el simbolo limita solo a la que sean 
        exclusivamente hijos y la otra opcion es para cuando quieres que afecte
        todos los elementos p dentor de la classe publish no importando
        si estan dentro de otras calase hijas de publish*/
        line-height: 24px;
    }
    .publish form{
        flex-direction: column;
    }
   
    .publish-actions{
        display: grid;
        grid-template-columns: 1fr 120px;
    }

    .feautures{
        margin-top: 30px;
        grid-template-columns: 1fr;

        /* grid-template: repeat(4,1fr) / 1fr */
        
    }
    .flexderecha {
        display: none;
    }
    .grid_completo{
        grid-template-columns: 1fr;
    }
    
}

@media ((min-width: 576px) AND (max-width: 767px)){
   
}

@media ((min-width: 768px) AND (max-width: 991px)){
    
}

@media ((min-width: 992px) AND (max-width: 1199px)){
   
}

@media (min-width: 1200px){
    
}